- url = spree.author_url(id: author.slug)
.col-md-five.product-list-item{"data-hook" => "authors_list_item", :id => "author_#{author.id}", :itemscope => "", :itemtype => "https://schema.org/Author"}
  .product-container.text-left.product-block{"data-mh"=> "products_list"}
    .product-image-container.image
      %a.product_img_link{href: url, title: author.name}
        %img.replace-2x.img-responsive{alt: author.name, src: product_image_src(author, :original)}
        %span.product-additional{data: {idproduct: author.id}}
    .product-meta
      %h5.name.flatten
        .artist-name
          %a.product-name{href: url, title: truncate(author.name, length: 50)}
            = truncate(author.name, length: 50)
      .product-desc--visible.text-center
        = author_dates author
