%h1.taxon-title.text-upper= Spree.t('Authors')
- content_for :sidebar do
  %div{"data-hook" => "taxon_sidebar_navigation"}
    -#= render partial: 'spree/shared/taxonomies'
    -#%br
    = render partial: 'spree/shared/authors'
    -#= render partial: 'spree/shared/filters' if @taxon.leaf?
%div{"data-hook" => "authors_list"}
  = render partial: 'spree/shared/authors_big', locals: { authors: @authors }