@charset "UTF-8";



/*  Colors
\*----------------------------------------------------------------------------*/
$color-base: #e2bd65;
$color-base-light: #fcf8e3;
$color-black: #000;
$color-white: #fff;

$color-gray-b: #666;
$color-gray-d: #ddd;
$color-gray-e: #e4e4e4;

