/* css for box multialnguage */
.ap-multilang-box {
	float : left;
}

.ap-multilang-box img {
	margin : 0px 5px;
}

.dropit-submenu {
	background-color : white;
  	border : 1px solid #e8e8e8;
}

.item-lang:hover {
  background-color : gainsboro;
}
.icon-language span{
	padding-left: 25px;
}