.video-streams-fixed {
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 1;
}
.video-streams-fixed .btn {
    position: absolute;
    bottom: 0;
    right: 0
}

.video-streams-content {
    background: #e2bd65;
    padding: 11px;
    width: 278px;
    position: absolute;
    right: 0;
    bottom: 0;
    opacity: 0;
    -webkit-transition: opacity 0.5s ease 0s;
    transition: opacity 0.5s ease 0s;
    pointer-events: none;
}
.video-streams-content.is-visible {
    opacity: 1;
    pointer-events: auto;
}

.video-streams-content .zmdi {
    position: absolute;
    right: 105%;
    top: 0;
    color: #e2bd65;
    -webkit-transition: color 0.5s ease 0s;
    transition: color 0.5s ease 0s;
    cursor: pointer
}
.video-streams-content .zmdi:hover {
    color: #000;
}

.video-streams-frame {
    margin-bottom: 10px;
}

.video-streams-menu {
    margin: 0;
}
.video-streams-menu > li {
    margin-bottom: 10px;
}
.video-streams-menu > li:last-child {
    margin-bottom: 0;
}
.video-streams-menu a {
    color: #666;
    -webkit-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
    line-height: 20px;
}
.video-streams-menu a:hover {
    color: #000;
    font-size: 15px;
}
.video-streams-menu a.active {
    color: #fff;
    font-size: 14px;
    cursor: default;;
    text-decoration: none;
    font-weight: 700;
}
