@charset "UTF-8";
/*----------------------------------------------------------------------------*\
  $CART
\*----------------------------------------------------------------------------*/



.cart_table {

}

table.cart_table {
  thead {
    th {
      border-bottom-width: 1px;
    }

    &:first-child {
      > tr:first-child {
        > th {
          border-top: solid 1px $color-gray-d;
        }
      }
    }
  }

  > thead {
    > tr {
      > th.cart-item-price-header,
      > th.cart-item-quantity-header,
      > th.cart-item-total-header {
        text-align: center;
      }
    }
  }

  > tbody {
    & + tbody {
      border: none;
    }
    > tr {
      > td {
        border: none;
      }
    }
  }
  .cart-total {
    td {
      text-align: right;
    }

    .cart-total_sum {
      margin: 0 0 0 5px;
      color: $color-red-light;
      font-weight:  $weight-bold;
      font-family: $font-face-poppins;
    }
  }

  .cart-item-description {
    h4 {
      margin-top: 0;
      color: $color-gray-b;
    }
  }

  .apQty {
    margin-bottom: 0;
  }
}

.cart-item-price,
.cart-item-total {
  color: $color-red-light;
  font-weight: $weight-bold;
  text-align: right;
  font-family: $font-face-poppins;
}

.cart_container {
  margin-bottom: $space;
}

.cart-item-quantity {
  text-align: right;
}


/*  Checkout
\*----------------------------------------------------------------------------*/
.progress-steps {
  background: $color-gray-e;
}

.shipment {
  h5 {
    font-family: $font-face-default;
  }
}


.pop-up {
position: fixed;
margin: 5% auto;
z-index: 2;
top: 50%; /* Отступ в процентах от верхнего края окна */
left: 50%; /* Отступ в процентах от левого края окна */
position: absolute; /* Абсолютное позиционирование блока */
margin-top: -225px; /* Отрицательный отступ от верхнего края страницы, должен равняться половине высоты блока со знаком минус */
margin-left: -225px; /* Отрицательный отступ от левого края страницы, должен равняться половине высоты блока со знаком минус */
}

.box {
background-color: whitesmoke;
text-align: center;
width: 250px; /* Ширина блока */
height: auto; /* Высота блока */
margin-left: auto;
margin-right: auto;
margin-top: 10%;
position: relative;
-webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
-moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
}

a.close-button {
  cursor: pointer;

}
