@charset "UTF-8";
/*----------------------------------------------------------------------------*\
  $SITE THEME OVERRIDES
\*----------------------------------------------------------------------------*/



/*  Common
\*----------------------------------------------------------------------------*/
body {
  font-size: $font-size-base;
  line-height: $line-height-computed;
  font-family: $font-face-default;
}

#login-page .login-box {
  min-height: 0;

  p {
    margin-bottom: $space-small;
  }
}

.rte p {
  text-align: inherit;
  margin: $space 0;
  padding: 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}



/*  Search with categories field
\*----------------------------------------------------------------------------*/
.search_with_categories {
  border: 1px solid $color-gray-e;
  position: relative;

  .category_search_dd {
    width: 25%;
    padding: 0px 10px;
    border: 0;

    @media screen and (max-width: 440px) {
      width: 40%;
    }
  }

  .category_search_text {
    @extend %category_search_text;
  }

  .category_search_button {
    @extend %category_search_button;
  }
}

%category_search_text {
  display: inline;
  padding: 3px 40px 0px 10px;
  height: 32px;
  line-height: 36px;
  background: $color-gray-g;
  border-radius: 0px;
  font-size: $font-size-small;
  font-weight: $weight-regular;
  border: none;
  box-shadow: none !important;
  width: 74%;
  margin: 0 0 0 -2px;
}

%category_search_button {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  background: $color-base;
  display: inline-block;
  position: absolute;
  top: -1px;
  right: -1px;
  border: medium none;
  color: $color-gray-b;
  width: 36px;
  text-align: center;
  height: 34px;
  line-height: 34px;
  padding: 0;
  border-radius: 0;

  .rtl & {
    left: -1px;
    right: auto;
  }

  .fallback-text {
    display: none;
  }

  .fa {
    font-size: $font-size-small;
  }

  &:hover {
    background: transparent;
    color: $color-base;
  }
}


/*  Blocks
\*----------------------------------------------------------------------------*/
@media screen and (max-width: $screen-sm - 1) {
  .block .title_block:before {
    top: $space-tiny;
    font-size: 25px
  }
}

.informBlock {
  background-color: $color-gray-g;
  padding: 20px;
  margin-top: 20px;
}


/*  Footer
\*----------------------------------------------------------------------------*/
.footer-center-wrap .footer-block .title_block {
  cursor: default;
}

.footer-nav {
  padding: $grid-gutter 0;
}

#newsletter_block .des_newsletter {
  font-size: inherit;
}

.box-contact-info ul > li {
  font-size: inherit;
}

.toggle-footer {
  li {
    a {
      &:hover {
        font-size: inherit;
      }
    }
  }
}


/*  Header
\*----------------------------------------------------------------------------*/
.header-wrap {
  padding: 0;
}

.header-top {
  float: left;
  position: relative;
  z-index: 1;
}

#header_logo {
  padding: 20px 0px;

  a {
    text-align: left;
  }

  @media (min-width: $screen-md - 1) {
    padding: 15px 0;
  }
}

#search_block_top {
  right: 10%;
  top: $space*1.5;
}

@media (min-width: $screen-md) {
  #search_block_top {
    top: $space*1.2;
    right: 0;
  }
}

@media (min-width: $screen-lg) {
  #search_block_top {
    right: 10%;
  }
}

.group-leosearch {
  background: $color-white;
}

#searchbox {

}

.header_user_info .links {
   visibility: visible;
}


/*  Products
\*----------------------------------------------------------------------------*/
.product-block {

  .name {
    text-transform: uppercase;
    font-family: $font-face-poppins;
    min-height: 0;
    margin-bottom: 1em;

    .megamenu & {
      text-transform: none;
    }

    a {
      font-size: $font-size-base;
      color: $color-black;
      font-family: inherit;

      &:hover {
        color: $color-base;
      }
    }
  }

  .product-desc {
    font-size: $font-size-base;
  }

  .product-desc--visible {
    padding: 5px 0;
    color: $color-gray-b;
  }

  .product-image-container {
    padding: 100% 0 0 0;
    background-color: $color-gray-e;

    #products & {
      padding: 100% 0 0 0;
    }

    img {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      position: absolute;
      max-height: 100%;
      -webkit-transition: opacity 0.5s ease 0s;
      transition: opacity 0.5s ease 0s;
      opacity: 0.9;
    }

    a:hover {
      img {
        opacity: 1;
      }
    }
  }

  .product-meta {
    border: none;

    #products & {
      background: none;
    }
  }

  #products & {
    background: none;
  }
}

.product-center-column {
  font-size: inherit;

  .product-description {
    font-size: inherit;
  }
}

.tab-content .product-description:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.product-section-title {
  text-transform: uppercase;
}

#main-image2 {
  border: none;

  div {
    min-height: 0;

    img {
      height: auto;
    }
  }
}

.more_info_block {
  .nav-tabs {
    a {
      outline: none;
    }
    > li.active {
      > a,
      & > a:hover,
      & > a:focus {
        border-bottom: 2px solid #e2bd65;
        color: #e2bd65;
        border-top: 0;
        border-left: 0;
        border-right: 0;
      }
    }
    > li {
      > a:hover,
      > a:focus {
        background: none;
      }
      a:focus {
        color: $color-gray-b;
      }
    }
  }
}

.product-right-column {
  .quantity_wanted_p {
    float: none;
  }
}

.collection-view .change-view {
  display: inline-block;
  padding: $space-tiny/2 $space-tiny;

  &.change-view--active {
    cursor: default;
  }
}

.product-center-column .brand {
  font-family: $font-face-default;
}

.more_info_block {
    margin-top: $space;
}

.price {
  font-size: $font-size-large;
  font-family: $font-face-poppins;
}



/*  Menu
\*----------------------------------------------------------------------------*/
#apollo-top-menu {
  padding: 0;

  .navbar-nav {
    > li {
      > a {
        padding: $space;
        font-size: inherit;
      }

      .caret:before {
        top: $space;
      }
    }

    > li:hover {
      > a {
        color: $color-base;
      }
    }
  }
}

.apollo-megamenu {
  ul,
  ol {
    vertical-align: top;
  }

  .nav-links {
    display: block;
  }
}


#apollo-menu {
  &.is-disabled {
    pointer-events: none;
  }

  .dropdown-menu {
    font-size: inherit;

    .menu-title {
      font-size: inherit;
    }

    .nav-links {
      font-family: $font-face-default;

      li {
        a {
          font-size: inherit;
        }
      }
    }
  }

  .btn-menu-canvas {
    margin: $space-small*1.5 $space-tiny;
  }
}

.mm-title:hover,
.mm-title:focus {
  text-decoration: none;
}


/*  Categories
\*----------------------------------------------------------------------------*/
.img_category {
  .img_category_link {
    display: block;
    margin-bottom: $grid-gutter*2;
    position: relative;
    color: $color-white;
    font-weight: $weight-bold;
    background: $color-black;
    padding-top: 62.96%;

    img {
      max-width: none;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      -webkit-transition: opacity 0.5s ease 0s;
      transition: opacity 0.5s ease 0s;
      opacity: 0.85;
    }

    .title_img_category {
      position: absolute;
      text-align: center;
      width: auto;
      bottom: auto;
      left: $space-small;
      right: $space-small;
      top: 50%;
      transform: translateY(-50%);
      font-size: $font-size-h2;
      line-height: 1;
      font-family: $font-face-poppins;
      text-transform: uppercase;
    }

    &:hover {
      img {
        opacity: 1;
      }
    }
  }
}


/*  Contact form
\*----------------------------------------------------------------------------*/
.contact-form-box .form-group {
  margin-bottom: $grid-gutter;
}
