@charset "UTF-8";
/*----------------------------------------------------------------------------*\
  $PANEL OVERRIDES
\*----------------------------------------------------------------------------*/


.panel {
  border: 1px solid $color-gray-e;
  min-height: 350px;
  padding: 20px;
  background: #fff;
  border-radius: 0;

  > .panel-heading {
    border-radius: 0;
    padding: 10px 0;
  }
}

.panel-body {
  padding: 20px 0;
}

.panel-default {
  border-color: $color-gray-d;

  > .panel-heading {
    background: none;
    border-bottom-color: $color-gray-d;
    color: $color-gray-b;
  }
}
