@charset "UTF-8";
/*----------------------------------------------------------------------------*\
  $BOOTSTRAP OVERRIDES
\*----------------------------------------------------------------------------*/




/*  Forms
\*----------------------------------------------------------------------------*/
input.form-control {
  border-color: $color-gray-c;
  border-radius: 0;

  &:focus {
    border-color: $color-base;
  }
}


/*  Scaffolding
\*----------------------------------------------------------------------------*/
hr {
  border-color: $color-gray-e;
}


/*  Type
\*----------------------------------------------------------------------------*/
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-face-poppins;
  font-weight: $weight-bold;
  color: $color-black;
}

h1, .h1 { font-size: $font-size-h2; }


/*  Grid
\*----------------------------------------------------------------------------*/
.footer-nav .row,
.video .row {
  padding-bottom: 0;
}


/*  Breadcrumbs
\*----------------------------------------------------------------------------*/
.breadcrumbs-area {
  background: $color-gray-e;
  margin-bottom: $space*1.5 0;
}
.breadcrumb {
  padding: $space*1.5 0;
  margin: 0;
  background: none;
  border-radius: 0;
  font-family: $font-face-poppins;
  font-weight: $weight-bold;
  color: $color-gray-b;
  text-transform: uppercase;

  > li + li:before {
    color: $color-gray-b;
    font-weight: $weight-regular;
  }
}


/*  Pagination
\*----------------------------------------------------------------------------*/
.pagination {
  display: block;
  text-align: right;
  background-color: $color-gray-g;
  padding: $space-small;

  > li {
    > a,
    > span {
      display: inline-block;
      float: none;
      color: $color-black;
      border: none;
      background: none;
      padding: $space-tiny $space-small;

      &:hover,
      &:focus {
        background: none;
        color: $color-black;
      }

      .fa {
        font-size: $font-size-smaller;
        margin: 0 $space-tiny;
      }
    }

    > a:hover {
      color: $color-base;
    }

    &.active {
      > a,
      > span,
      > a:hover,
      > span:hover,
      > a:focus,
      > span:focus {
        color: $color-base;
        font-weight: $weight-bold;
        background: none;
      }
    }
  }
}
