#header.logo {
    align: center;
}
section.video {
    background: #000
}
section.video-thumbnails {

}
div.spree-video-thumbnails{
    padding: 3px 0;
}
div.spree-video-thumbnails a img {
    height: 74px;
    margin: 5px 5px;
}
div.spree-video-thumbnails-md a img {
    height: 178px;
    margin: 5px 5px;
}
div#main-image2 {
    border: none;
}

input.add-to-cart-detail-number {
    height: 36px;
}

section.home_product_list_2 .row .product-list-item .product-container .image {
    min-height: 170px;
}

.text-upper {
    text-transform: uppercase !important;
}

.no-bg {
    background: none !important;
}
