- url = spree.product_url(product, taxon_id: @taxon.try(:id))
.product_block.wow.fadeInUp.animated{data: {hook: 'products_list_item', wow_delay: '0ms'}, :id => "product_#{product.id}", :itemscope => "", :itemtype => "https://schema.org/Product"}
  - cache(@taxon.present? ? [I18n.locale, current_currency, @taxon, product] : cache_key_for_product(product)) do
    .product-container.left-block
      .product-image-container.image
        %a.product_img_link{href: url, title: product.name}
          %img.replace-2x.img-responsive{alt: product.name, src: product_image_src(product, :product476)}/
          %span.product-additional{data: {idproduct: product.id}}
        -#%span.new-box
          %span.label-new.label New
        -#%span.sale-box
          %span.label-sale.label Sale
        -#.quickview
          %a.quick-view.btn.fancybox{rel: 'products-top-gallery', href: product_image_src(product, :product1024), title: truncate(product.name, length: 50), data: {handle: product.slug, img_src: product_image_src(product)}}
            %i.fa.fa-expand
      .product-meta
        %h5.name
          %a.product-name{href: url, title: product.name}
            = truncate(product.name, length: 50)
        %h6
          .product-desc
            = truncate(product.description_short, length: 50)
        - if product_property(@product_properties, :year).present?
          %h5.brand{:itemprop => "brand"}
            %span Year:
            %a{:href => "/products/years?q=", :title => ""}= product_property(@product_properties, :year)
        -#.review
          %span#spr_badge_7135946433.spr-badge{"data-rating" => "5.0"}
            %span.spr-starrating.spr-badge-starrating
              %i.spr-icon.spr-icon-star{:style => ""}
              %i.spr-icon.spr-icon-star{:style => ""}
              %i.spr-icon.spr-icon-star{:style => ""}
              %i.spr-icon.spr-icon-star{:style => ""}
              %i.spr-icon.spr-icon-star{:style => ""}
            %span.spr-badge-caption
              1 review
        -#.content_price
          %span.old-price.product-price
            %span.money{"data-currency" => "USD", "data-currency-usd" => "$15.50"} $15.50
          %span.price.product-price
            %span.money{"data-currency" => "USD", "data-currency-usd" => "$12.00"} $12.00
