- unless @product_properties.empty?
  #categories_block.block.sidebarCategories
    %h4.title_block= Spree.t('properties')
    .block_content#product-properties{"data-hook" => ""}
      - @product_properties.each do |product_property|
        .row
          .col-sm-6
            %strong= product_property.property.presentation
          .col-sm-6
            = product_property.value
