#products_sider_block.block.products_block.nopadding
  %h4.title_block
    %a{:href => "/collections/comb", :title => "best sellers"} best sellers
  .block_content.products-block{:style => ""}
    %ul.products.products-block.list-unstyled
      %li.media.clearfix
        .product-block
          .product-container.media
            %a.products-block-image.img.pull-left{:href => "/products/greenfield-walnut-5-pc", :title => "Greenfield Walnut 5 Pc"}
              %img.replace-2x.img-responsive{:alt => "Greenfield Walnut 5 Pc", :src => "//cdn.shopify.com/s/files/1/1404/2671/products/3-min_small.jpg?v=1469507341"}/
            .media-body
              .product-content
                %h5.name.media-heading
                  %a.product-name{:href => "/products/greenfield-walnut-5-pc", :title => "Greenfield Walnut 5 Pc"} Greenfield Walnut 5 Pc
                .review
                  %span#spr_badge_7135946433.spr-badge{"data-rating" => "5.0"}
                    %span.spr-starrating.spr-badge-starrating
                      %i.spr-icon.spr-icon-star{:style => ""}
                      %i.spr-icon.spr-icon-star{:style => ""}
                      %i.spr-icon.spr-icon-star{:style => ""}
                      %i.spr-icon.spr-icon-star{:style => ""}
                      %i.spr-icon.spr-icon-star{:style => ""}
                    %span.spr-badge-caption
                      1 review
                .content_price.price
                  %span.old-price.product-price
                    %span.money{"data-currency" => "USD", "data-currency-usd" => "$15.50"} $15.50
                  %span.price.product-price
                    %span.money{"data-currency" => "USD", "data-currency-usd" => "$12.00"} $12.00
      %li.media.clearfix
        .product-block
          .product-container.media
            %a.products-block-image.img.pull-left{:href => "/products/the-kensington-collection-1", :title => "Kensington Collection globl"}
              %img.replace-2x.img-responsive{:alt => "Kensington Collection globl", :src => "//cdn.shopify.com/s/files/1/1404/2671/products/23-min_65a714af-1627-4a44-b561-1e0af9715dcc_small.jpg?v=1469508550"}/
            .media-body
              .product-content
                %h5.name.media-heading
                  %a.product-name{:href => "/products/the-kensington-collection-1", :title => "Kensington Collection globl"} Kensington Collection globl
                .review
                  %span#spr_badge_7135963841.spr-badge{"data-rating" => "0.0"}
                    %span.spr-starrating.spr-badge-starrating
                      %i.spr-icon.spr-icon-star-empty{:style => ""}
                      %i.spr-icon.spr-icon-star-empty{:style => ""}
                      %i.spr-icon.spr-icon-star-empty{:style => ""}
                      %i.spr-icon.spr-icon-star-empty{:style => ""}
                      %i.spr-icon.spr-icon-star-empty{:style => ""}
                    %span.spr-badge-caption
                      No reviews
                .content_price.price
                  %span.old-price.product-price
                    %span.money{"data-currency" => "USD", "data-currency-usd" => "$25.00"} $25.00
                  %span.price.product-price
                    %span.money{"data-currency" => "USD", "data-currency-usd" => "$24.00"} $24.00
      %li.media.clearfix
        .product-block
          .product-container.media
            %a.products-block-image.img.pull-left{:href => "/products/quam-nunc-putamus", :title => "Quam nunc putamus"}
              %img.replace-2x.img-responsive{:alt => "Quam nunc putamus", :src => "//cdn.shopify.com/s/files/1/1404/2671/products/1-min_small.jpg?v=1469506915"}/
            .media-body
              .product-content
                %h5.name.media-heading
                  %a.product-name{:href => "/products/quam-nunc-putamus", :title => "Quam nunc putamus"} Quam nunc putamus
                .review
                  %span#spr_badge_7135873025.spr-badge{"data-rating" => "0.0"}
                    %span.spr-starrating.spr-badge-starrating
                      %i.spr-icon.spr-icon-star-empty{:style => ""}
                      %i.spr-icon.spr-icon-star-empty{:style => ""}
                      %i.spr-icon.spr-icon-star-empty{:style => ""}
                      %i.spr-icon.spr-icon-star-empty{:style => ""}
                      %i.spr-icon.spr-icon-star-empty{:style => ""}
                    %span.spr-badge-caption
                      No reviews
                .content_price.price
                  %span.old-price.product-price
                    %span.money{"data-currency" => "USD", "data-currency-usd" => "$51.00"} $51.00
                  %span.price.product-price
                    %span.money{"data-currency" => "USD", "data-currency-usd" => "$35.00"} $35.00
    .lnk
      %a.btn.btn-sm.btn-outline{:href => "/collections/comb", :title => "best sellers"}
        %span More products