.row
  .productpage.col-xs-12.col-sm-12.col-md-12
    .product_related
      #productrelated.products_block.exclusive.block
        %h4.title_block_home.text-center
          %span Related Product
        .block_content
          #product_releted_.carousel.slide
            %a.carousel-control.left{"data-slide" => "prev", :href => "#product_releted_"} Prev
            %a.carousel-control.right{"data-slide" => "next", :href => "#product_releted_"} Next
            .carousel-inner
              .item.active
                .product_list
                  .product-items
                    .row
                      .product_block.wow.fadeIn.col-md-4.col-xs-6.col-sp-12.animated{"data-wow-delay" => "0ms", :style => "visibility: visible; animation-delay: 0ms; animation-name: fadeIn;"}
                        .product-container.text-left.product-block
                          .product-image-container.image
                            %a.product_img_link{:href => "/collections/cut/products/greenfield-walnut-5-pc"}
                              %img.img-responsive{:alt => "Greenfield Walnut 5 Pc", :src => "//cdn.shopify.com/s/files/1/1404/2671/products/3-min_large.jpg?v=1469507341"}/
                              %span.product-additional{"data-idproduct" => "7135946433"}
                            %span.new-box
                              %span.label-new.label New
                            %span.sale-box
                              %span.label-sale.label Sale
                            .quickview
                              %a.quick-view.btn{"data-handle" => "greenfield-walnut-5-pc", :href => "#quick-view-product", :title => "+ Quick View"}
                                %i.fa.fa-expand
                          .product-meta
                            %h5.name
                              %a.product-name{:href => "/collections/cut/products/greenfield-walnut-5-pc", :title => "Greenfield Walnut 5 Pc"} Greenfield Walnut 5 Pc
                            .product-desc Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum...
                            .review
                              %span#spr_badge_7135946433.spr-badge{"data-rating" => "5.0"}
                                %span.spr-starrating.spr-badge-starrating
                                  %i.spr-icon.spr-icon-star{:style => ""}
                                  %i.spr-icon.spr-icon-star{:style => ""}
                                  %i.spr-icon.spr-icon-star{:style => ""}
                                  %i.spr-icon.spr-icon-star{:style => ""}
                                  %i.spr-icon.spr-icon-star{:style => ""}
                                %span.spr-badge-caption
                                  1 review
                            .content_price
                              %span.old-price.product-price
                                %span.money{"data-currency" => "USD", "data-currency-usd" => "$15.50"} $15.50
                              %span.price.product-price.sale-price
                                %span.money{"data-currency" => "USD", "data-currency-usd" => "$12.00"} $12.00
                            .functional-buttons.clearfix
                              .wishlist
                                %a.btn.btn-outline-inverse.btn-wishlist{:href => "/account/login", :title => "Add to Wishlist"}
                                  %i.fa.fa-heart
                                  %span Add to Wishlist
                              .cart
                                .action
                                  %form.form-ajaxtocart{:action => "/cart/add", :enctype => "multipart/form-data", :method => "post"}
                                    %input{:name => "id", :type => "hidden", :value => "22464795841"}/
                                    %button.button.ajax_addtocart{:title => "Add to Cart", :type => "submit", :value => "Submit"}
                                      %span.fa.fa-shopping-cart
                                      %span Add to Cart
                              .view_detail
                                %a.btn.lnk_view{:href => "/collections/cut/products/greenfield-walnut-5-pc", :title => "View product"}
                                  %i.fa.fa-retweet
                                  %span View product
                      .product_block.wow.fadeIn.col-md-4.col-xs-6.col-sp-12.animated{"data-wow-delay" => "100ms", :style => "visibility: visible; animation-delay: 100ms; animation-name: fadeIn;"}
                        .product-container.text-left.product-block
                          .product-image-container.image
                            %a.product_img_link{:href => "/collections/cut/products/the-kensington-collection-1"}
                              %img.img-responsive{:alt => "Kensington Collection globl", :src => "//cdn.shopify.com/s/files/1/1404/2671/products/23-min_65a714af-1627-4a44-b561-1e0af9715dcc_large.jpg?v=1469508550"}/
                              %span.product-additional{"data-idproduct" => "7135963841"}
                                %img.replace-2x.img-responsive{:alt => "Kensington Collection globl", :src => "//cdn.shopify.com/s/files/1/1404/2671/products/24-min_ece71cb1-a7e3-4087-8b88-d9161695c325_large.jpg?v=1469508550"}/
                            %span.new-box
                              %span.label-new.label New
                            %span.sale-box
                              %span.label-sale.label Sale
                            .quickview
                              %a.quick-view.btn{"data-handle" => "the-kensington-collection-1", :href => "#quick-view-product", :title => "+ Quick View"}
                                %i.fa.fa-expand
                          .product-meta
                            %h5.name
                              %a.product-name{:href => "/collections/cut/products/the-kensington-collection-1", :title => "Kensington Collection globl"} Kensington Collection globl
                            .product-desc Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum...
                            .review
                              %span#spr_badge_7135963841.spr-badge{"data-rating" => "0.0"}
                                %span.spr-starrating.spr-badge-starrating
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                %span.spr-badge-caption
                                  No reviews
                            .content_price
                              %span.old-price.product-price
                                %span.money{"data-currency" => "USD", "data-currency-usd" => "$25.00"} $25.00
                              %span.price.product-price.sale-price
                                %span.money{"data-currency" => "USD", "data-currency-usd" => "$24.00"} $24.00
                            .functional-buttons.clearfix
                              .wishlist
                                %a.btn.btn-outline-inverse.btn-wishlist{:href => "/account/login", :title => "Add to Wishlist"}
                                  %i.fa.fa-heart
                                  %span Add to Wishlist
                              .cart
                                .action
                                  %form.form-ajaxtocart{:action => "/cart/add", :enctype => "multipart/form-data", :method => "post"}
                                    %input{:name => "id", :type => "hidden", :value => "22464873345"}/
                                    %button.button.ajax_addtocart{:title => "Add to Cart", :type => "submit", :value => "Submit"}
                                      %span.fa.fa-shopping-cart
                                      %span Add to Cart
                              .view_detail
                                %a.btn.lnk_view{:href => "/collections/cut/products/the-kensington-collection-1", :title => "View product"}
                                  %i.fa.fa-retweet
                                  %span View product
                      .product_block.wow.fadeIn.col-md-4.col-xs-6.col-sp-12.animated{"data-wow-delay" => "200ms", :style => "visibility: visible; animation-delay: 200ms; animation-name: fadeIn;"}
                        .product-container.text-left.product-block
                          .product-image-container.image
                            %a.product_img_link{:href => "/collections/cut/products/quam-nunc-putamus"}
                              %img.img-responsive{:alt => "Quam nunc putamus", :src => "//cdn.shopify.com/s/files/1/1404/2671/products/1-min_large.jpg?v=1469506915"}/
                              %span.product-additional{"data-idproduct" => "7135873025"}
                                %img.replace-2x.img-responsive{:alt => "Quam nunc putamus", :src => "//cdn.shopify.com/s/files/1/1404/2671/products/2-min_large.jpg?v=1469506917"}/
                            %span.new-box
                              %span.label-new.label New
                            %span.sale-box
                              %span.label-sale.label Sale
                            .quickview
                              %a.quick-view.btn{"data-handle" => "quam-nunc-putamus", :href => "#quick-view-product", :title => "+ Quick View"}
                                %i.fa.fa-expand
                          .product-meta
                            %h5.name
                              %a.product-name{:href => "/collections/cut/products/quam-nunc-putamus", :title => "Quam nunc putamus"} Quam nunc putamus
                            .product-desc Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum...
                            .review
                              %span#spr_badge_7135873025.spr-badge{"data-rating" => "0.0"}
                                %span.spr-starrating.spr-badge-starrating
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                %span.spr-badge-caption
                                  No reviews
                            .content_price
                              %span.old-price.product-price
                                %span.money{"data-currency" => "USD", "data-currency-usd" => "$51.00"} $51.00
                              %span.price.product-price.sale-price
                                %span.money{"data-currency" => "USD", "data-currency-usd" => "$35.00"} $35.00
                            .functional-buttons.clearfix
                              .wishlist
                                %a.btn.btn-outline-inverse.btn-wishlist{:href => "/account/login", :title => "Add to Wishlist"}
                                  %i.fa.fa-heart
                                  %span Add to Wishlist
                              .cart
                                .action
                                  %form.form-ajaxtocart{:action => "/cart/add", :enctype => "multipart/form-data", :method => "post"}
                                    %input{:name => "id", :type => "hidden", :value => "22464456833"}/
                                    %button.button.ajax_addtocart{:title => "Add to Cart", :type => "submit", :value => "Submit"}
                                      %span.fa.fa-shopping-cart
                                      %span Add to Cart
                              .view_detail
                                %a.btn.lnk_view{:href => "/collections/cut/products/quam-nunc-putamus", :title => "View product"}
                                  %i.fa.fa-retweet
                                  %span View product
              .item
                .product_list
                  .product-items
                    .row
                      .product_block.wow.fadeIn.col-md-4.col-xs-6.col-sp-12.animated{"data-wow-delay" => "300ms", :style => "visibility: visible; animation-delay: 300ms; animation-name: fadeIn;"}
                        .product-container.text-left.product-block
                          .product-image-container.image
                            %a.product_img_link{:href => "/collections/cut/products/the-asbury-collection-1"}
                              %img.img-responsive{:alt => "The Asbury Collection", :src => "//cdn.shopify.com/s/files/1/1404/2671/products/4-min_large.jpg?v=1469507391"}/
                              %span.product-additional{"data-idproduct" => "7135951489"}
                                %img.replace-2x.img-responsive{:alt => "The Asbury Collection", :src => "//cdn.shopify.com/s/files/1/1404/2671/products/5-min_large.jpg?v=1469507392"}/
                            %span.new-box
                              %span.label-new.label New
                            %span.sale-box
                              %span.label-sale.label Sale
                            .quickview
                              %a.quick-view.btn{"data-handle" => "the-asbury-collection-1", :href => "#quick-view-product", :title => "+ Quick View"}
                                %i.fa.fa-expand
                          .product-meta
                            %h5.name
                              %a.product-name{:href => "/collections/cut/products/the-asbury-collection-1", :title => "The Asbury Collection"} The Asbury Collection
                            .product-desc Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum...
                            .review
                              %span#spr_badge_7135951489.spr-badge{"data-rating" => "0.0"}
                                %span.spr-starrating.spr-badge-starrating
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                %span.spr-badge-caption
                                  No reviews
                            .content_price
                              %span.old-price.product-price
                                %span.money{"data-currency" => "USD", "data-currency-usd" => "$67.00"} $67.00
                              %span.price.product-price.sale-price
                                %span.money{"data-currency" => "USD", "data-currency-usd" => "$57.00"} $57.00
                            .functional-buttons.clearfix
                              .wishlist
                                %a.btn.btn-outline-inverse.btn-wishlist{:href => "/account/login", :title => "Add to Wishlist"}
                                  %i.fa.fa-heart
                                  %span Add to Wishlist
                              .cart
                                .action
                                  %form.form-ajaxtocart{:action => "/cart/add", :enctype => "multipart/form-data", :method => "post"}
                                    %input{:name => "id", :type => "hidden", :value => "22464818689"}/
                                    %button.button.ajax_addtocart{:title => "Add to Cart", :type => "submit", :value => "Submit"}
                                      %span.fa.fa-shopping-cart
                                      %span Add to Cart
                              .view_detail
                                %a.btn.lnk_view{:href => "/collections/cut/products/the-asbury-collection-1", :title => "View product"}
                                  %i.fa.fa-retweet
                                  %span View product
                      .product_block.wow.fadeIn.col-md-4.col-xs-6.col-sp-12.animated{"data-wow-delay" => "400ms", :style => "visibility: visible; animation-delay: 400ms; animation-name: fadeIn;"}
                        .product-container.text-left.product-block
                          .product-image-container.image
                            %a.product_img_link{:href => "/collections/cut/products/the-asbury-collection-lef"}
                              %img.img-responsive{:alt => "The Asbury Collection lef", :src => "//cdn.shopify.com/s/files/1/1404/2671/products/26-min_large.jpg?v=1469508455"}/
                              %span.product-additional{"data-idproduct" => "7135968449"}
                                %img.replace-2x.img-responsive{:alt => "The Asbury Collection lef", :src => "//cdn.shopify.com/s/files/1/1404/2671/products/4-min_5d242438-626d-49fa-88b0-221254b6198a_large.jpg?v=1469508455"}/
                            %span.new-box
                              %span.label-new.label New
                            %span.sale-box
                              %span.label-sale.label Sale
                            .quickview
                              %a.quick-view.btn{"data-handle" => "the-asbury-collection-lef", :href => "#quick-view-product", :title => "+ Quick View"}
                                %i.fa.fa-expand
                          .product-meta
                            %h5.name
                              %a.product-name{:href => "/collections/cut/products/the-asbury-collection-lef", :title => "The Asbury Collection lef"} The Asbury Collection lef
                            .product-desc Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum...
                            .review
                              %span#spr_badge_7135968449.spr-badge{"data-rating" => "0.0"}
                                %span.spr-starrating.spr-badge-starrating
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                %span.spr-badge-caption
                                  No reviews
                            .content_price
                              %span.old-price.product-price
                                %span.money{"data-currency" => "USD", "data-currency-usd" => "$11.00"} $11.00
                              %span.price.product-price.sale-price
                                %span.money{"data-currency" => "USD", "data-currency-usd" => "$10.00"} $10.00
                            .functional-buttons.clearfix
                              .wishlist
                                %a.btn.btn-outline-inverse.btn-wishlist{:href => "/account/login", :title => "Add to Wishlist"}
                                  %i.fa.fa-heart
                                  %span Add to Wishlist
                              .cart
                                .action
                                  %form.form-ajaxtocart{:action => "/cart/add", :enctype => "multipart/form-data", :method => "post"}
                                    %input{:name => "id", :type => "hidden", :value => "22464901569"}/
                                    %button.button.ajax_addtocart{:title => "Add to Cart", :type => "submit", :value => "Submit"}
                                      %span.fa.fa-shopping-cart
                                      %span Add to Cart
                              .view_detail
                                %a.btn.lnk_view{:href => "/collections/cut/products/the-asbury-collection-lef", :title => "View product"}
                                  %i.fa.fa-retweet
                                  %span View product
                      .product_block.wow.fadeIn.col-md-4.col-xs-6.col-sp-12.animated{"data-wow-delay" => "500ms", :style => "visibility: visible; animation-delay: 500ms; animation-name: fadeIn;"}
                        .product-container.text-left.product-block
                          .product-image-container.image
                            %a.product_img_link{:href => "/collections/cut/products/the-asbury-collection"}
                              %img.img-responsive{:alt => "The Asbury Righ", :src => "//cdn.shopify.com/s/files/1/1404/2671/products/20-min_59d8b735-2ed5-4f55-a5d2-97ee3eb7b433_large.jpg?v=1469508352"}/
                              %span.product-additional{"data-idproduct" => "7135969217"}
                                %img.replace-2x.img-responsive{:alt => "The Asbury Righ", :src => "//cdn.shopify.com/s/files/1/1404/2671/products/27-min_73204f3c-3080-4cc0-ae83-3df731ba7515_large.jpg?v=1469508352"}/
                            %span.new-box
                              %span.label-new.label New
                            %span.sale-box
                              %span.label-sale.label Sale
                            .quickview
                              %a.quick-view.btn{"data-handle" => "the-asbury-collection", :href => "#quick-view-product", :title => "+ Quick View"}
                                %i.fa.fa-expand
                          .product-meta
                            %h5.name
                              %a.product-name{:href => "/collections/cut/products/the-asbury-collection", :title => "The Asbury Righ"} The Asbury Righ
                            .product-desc Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum...
                            .review
                              %span#spr_badge_7135969217.spr-badge{"data-rating" => "0.0"}
                                %span.spr-starrating.spr-badge-starrating
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                %span.spr-badge-caption
                                  No reviews
                            .content_price
                              %span.old-price.product-price
                                %span.money{"data-currency" => "USD", "data-currency-usd" => "$33.99"} $33.99
                              %span.price.product-price.sale-price
                                %span.money{"data-currency" => "USD", "data-currency-usd" => "$33.00"} $33.00
                            .functional-buttons.clearfix
                              .wishlist
                                %a.btn.btn-outline-inverse.btn-wishlist{:href => "/account/login", :title => "Add to Wishlist"}
                                  %i.fa.fa-heart
                                  %span Add to Wishlist
                              .cart
                                .action
                                  %form.form-ajaxtocart{:action => "/cart/add", :enctype => "multipart/form-data", :method => "post"}
                                    %input{:name => "id", :type => "hidden", :value => "22464903873"}/
                                    %button.button.ajax_addtocart{:title => "Add to Cart", :type => "submit", :value => "Submit"}
                                      %span.fa.fa-shopping-cart
                                      %span Add to Cart
                              .view_detail
                                %a.btn.lnk_view{:href => "/collections/cut/products/the-asbury-collection", :title => "View product"}
                                  %i.fa.fa-retweet
                                  %span View product
              .item
                .product_list
                  .product-items
                    .row
                      .product_block.wow.fadeIn.col-md-4.col-xs-6.col-sp-12.animated{"data-wow-delay" => "600ms", :style => "visibility: visible; animation-delay: 600ms; animation-name: fadeIn;"}
                        .product-container.text-left.product-block
                          .product-image-container.image
                            %a.product_img_link{:href => "/collections/cut/products/the-costa-collection"}
                              %img.img-responsive{:alt => "The Costa Camel", :src => "//cdn.shopify.com/s/files/1/1404/2671/products/1-min_c2a65848-5387-442a-837c-c973b660dc03_large.jpg?v=1469508090"}/
                              %span.product-additional{"data-idproduct" => "7135974401"}
                                %img.replace-2x.img-responsive{:alt => "The Costa Camel", :src => "//cdn.shopify.com/s/files/1/1404/2671/products/2-min_3cb5cc03-27b8-4c5f-8fc7-3457c88d7b59_large.jpg?v=1469508091"}/
                            %span.new-box
                              %span.label-new.label New
                            %span.sale-box
                              %span.label-sale.label Sale
                            .quickview
                              %a.quick-view.btn{"data-handle" => "the-costa-collection", :href => "#quick-view-product", :title => "+ Quick View"}
                                %i.fa.fa-expand
                          .product-meta
                            %h5.name
                              %a.product-name{:href => "/collections/cut/products/the-costa-collection", :title => "The Costa Camel"} The Costa Camel
                            .product-desc Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum...
                            .review
                              %span#spr_badge_7135974401.spr-badge{"data-rating" => "0.0"}
                                %span.spr-starrating.spr-badge-starrating
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                %span.spr-badge-caption
                                  No reviews
                            .content_price
                              %span.old-price.product-price
                                %span.money{"data-currency" => "USD", "data-currency-usd" => "$11.00"} $11.00
                              %span.price.product-price.sale-price
                                %span.money{"data-currency" => "USD", "data-currency-usd" => "$10.00"} $10.00
                            .functional-buttons.clearfix
                              .wishlist
                                %a.btn.btn-outline-inverse.btn-wishlist{:href => "/account/login", :title => "Add to Wishlist"}
                                  %i.fa.fa-heart
                                  %span Add to Wishlist
                              .cart
                                .action
                                  %form.form-ajaxtocart{:action => "/cart/add", :enctype => "multipart/form-data", :method => "post"}
                                    %input{:name => "id", :type => "hidden", :value => "22464931265"}/
                                    %button.button.ajax_addtocart{:title => "Add to Cart", :type => "submit", :value => "Submit"}
                                      %span.fa.fa-shopping-cart
                                      %span Add to Cart
                              .view_detail
                                %a.btn.lnk_view{:href => "/collections/cut/products/the-costa-collection", :title => "View product"}
                                  %i.fa.fa-retweet
                                  %span View product
                      .product_block.wow.fadeIn.col-md-4.col-xs-6.col-sp-12.animated{"data-wow-delay" => "700ms", :style => "visibility: visible; animation-delay: 700ms; animation-name: fadeIn;"}
                        .product-container.text-left.product-block
                          .product-image-container.image
                            %a.product_img_link{:href => "/collections/cut/products/the-hartley-merlot-collection"}
                              %img.img-responsive{:alt => "The Hartley Merlot Collection", :src => "//cdn.shopify.com/s/files/1/1404/2671/products/6-min_33be5056-13b3-4a5e-9c73-ba8f3ebf25b0_large.jpg?v=1469508169"}/
                              %span.product-additional{"data-idproduct" => "7135972417"}
                                %img.replace-2x.img-responsive{:alt => "The Hartley Merlot Collection", :src => "//cdn.shopify.com/s/files/1/1404/2671/products/25-min_large.jpg?v=1469508170"}/
                            %span.new-box
                              %span.label-new.label New
                            .quickview
                              %a.quick-view.btn{"data-handle" => "the-hartley-merlot-collection", :href => "#quick-view-product", :title => "+ Quick View"}
                                %i.fa.fa-expand
                          .product-meta
                            %h5.name
                              %a.product-name{:href => "/collections/cut/products/the-hartley-merlot-collection", :title => "The Hartley Merlot Collection"} The Hartley Merlot Collection
                            .product-desc Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum...
                            .review
                              %span#spr_badge_7135972417.spr-badge{"data-rating" => "0.0"}
                                %span.spr-starrating.spr-badge-starrating
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                %span.spr-badge-caption
                                  No reviews
                            .content_price
                              %span.price.product-price
                                %span.money{"data-currency" => "USD", "data-currency-usd" => "$200.00"} $200.00
                            .functional-buttons.clearfix
                              .wishlist
                                %a.btn.btn-outline-inverse.btn-wishlist{:href => "/account/login", :title => "Add to Wishlist"}
                                  %i.fa.fa-heart
                                  %span Add to Wishlist
                              .cart
                                .action
                                  %form.form-ajaxtocart{:action => "/cart/add", :enctype => "multipart/form-data", :method => "post"}
                                    %input{:name => "id", :type => "hidden", :value => "22464916737"}/
                                    %button.button.ajax_addtocart{:title => "Add to Cart", :type => "submit", :value => "Submit"}
                                      %span.fa.fa-shopping-cart
                                      %span Add to Cart
                              .view_detail
                                %a.btn.lnk_view{:href => "/collections/cut/products/the-hartley-merlot-collection", :title => "View product"}
                                  %i.fa.fa-retweet
                                  %span View product
                      .product_block.wow.fadeIn.col-md-4.col-xs-6.col-sp-12.animated{"data-wow-delay" => "800ms", :style => "visibility: visible; animation-delay: 800ms; animation-name: fadeIn;"}
                        .product-container.text-left.product-block
                          .product-image-container.image
                            %a.product_img_link{:href => "/collections/cut/products/the-kensington-collection"}
                              %img.img-responsive{:alt => "The Kensington Collection", :src => "//cdn.shopify.com/s/files/1/1404/2671/products/4-min_789cdabb-b147-4f34-9af3-a128fff0ef10_large.jpg?v=1469507424"}/
                              %span.product-additional{"data-idproduct" => "7135961281"}
                                %img.replace-2x.img-responsive{:alt => "The Kensington Collection", :src => "//cdn.shopify.com/s/files/1/1404/2671/products/5-min_8909babf-9bba-42a0-a848-d66ff530cfc3_large.jpg?v=1469507424"}/
                            %span.new-box
                              %span.label-new.label New
                            .quickview
                              %a.quick-view.btn{"data-handle" => "the-kensington-collection", :href => "#quick-view-product", :title => "+ Quick View"}
                                %i.fa.fa-expand
                          .product-meta
                            %h5.name
                              %a.product-name{:href => "/collections/cut/products/the-kensington-collection", :title => "The Kensington Collection"} The Kensington Collection
                            .product-desc Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est notare quam littera gothica, quam nunc putamus parum...
                            .review
                              %span#spr_badge_7135961281.spr-badge{"data-rating" => "0.0"}
                                %span.spr-starrating.spr-badge-starrating
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                  %i.spr-icon.spr-icon-star-empty{:style => ""}
                                %span.spr-badge-caption
                                  No reviews
                            .content_price
                              %span.price.product-price
                                %span.money{"data-currency" => "USD", "data-currency-usd" => "$56.00"} $56.00
                            .functional-buttons.clearfix
                              .wishlist
                                %a.btn.btn-outline-inverse.btn-wishlist{:href => "/account/login", :title => "Add to Wishlist"}
                                  %i.fa.fa-heart
                                  %span Add to Wishlist
                              .cart
                                .action
                                  %form.form-ajaxtocart{:action => "/cart/add", :enctype => "multipart/form-data", :method => "post"}
                                    %input{:name => "id", :type => "hidden", :value => "22464862273"}/
                                    %button.button.ajax_addtocart{:title => "Add to Cart", :type => "submit", :value => "Submit"}
                                      %span.fa.fa-shopping-cart
                                      %span Add to Cart
                              .view_detail
                                %a.btn.lnk_view{:href => "/collections/cut/products/the-kensington-collection", :title => "View product"}
                                  %i.fa.fa-retweet
                                  %span View product
          :javascript
            if( $(window).width() > 1200 ){
                  jQuery('.item-special-one').children().removeClass('col-md-4 col-xs-6 col-sp-12 ');
                jQuery('.item-special-one').children().addClass('col-md-2');
                jQuery('.item-special-three').children().removeClass('col-md-4 col-xs-6 col-sp-12 ');
                jQuery('.item-special-three').children().addClass('col-md-2');
                jQuery('.item-special-two').children().removeClass('col-md-4 col-xs-6 col-sp-12 ');
                jQuery('.item-special-two').children().addClass('col-md-8');
              var img_spec = jQuery('.img-special-product');
              var meta_spec = jQuery('.meta-special-product');
              jQuery('.item-special-two').find(img_spec).addClass("col-md-6");
              jQuery('.item-special-two').find(meta_spec).addClass("col-md-6");
            }
            $(window).resize(function() {
              if( $(window).width() > 1200 ){
                jQuery('.item-special-one').children().removeClass('col-md-4 col-xs-6 col-sp-12 ');
                jQuery('.item-special-one').children().addClass('col-md-2');
                jQuery('.item-special-three').children().removeClass('col-md-4 col-xs-6 col-sp-12 ');
                jQuery('.item-special-three').children().addClass('col-md-2');
                jQuery('.item-special-two').children().removeClass('col-md-4 col-xs-6 col-sp-12 ');
                jQuery('.item-special-two').children().addClass('col-md-8');
              var img_spec = jQuery('.img-special-product');
              var meta_spec = jQuery('.meta-special-product');
              jQuery('.item-special-two').find(img_spec).addClass("col-md-6");
              jQuery('.item-special-two').find(meta_spec).addClass("col-md-6");
              }
            });
      :javascript
        $(document).ready(function() {

            $('#productrelated').each(function(){
                $(this).carousel({
                    pause: 'hover',
                    interval: 8000
                });
            });

        });