default: &default
  adapter: postgresql
  encoding: unicode
  username: app
  pool: 10
 
development:
  <<: *default
  database: eliteshopping_development

test:
  <<: *default
  database: eliteshopping_test
