#center_column.center_column.col-sm-12.col-md-12
  .page-404
    %h1
      500
    %h2
      We're sorry, but something went wrong.
    %p.des_cription_404
      If you are the application owner check the logs for more information.
