#center_column.center_column.col-sm-12.col-md-12
  .page-404
    %h1
      404
    %h2
      Page Not Found
    %p.des_cription_404
      We're sorry, but we can't find the page you were looking for. It's probably
      %br
      some thing we've done wrong but now we know about it and we'll try to fix it.
