.container
  .header-wrap
    .header-top.col-lg-12.col-md-12.col-sm-6.col-xs-6.col-sp-6
      #header_logo
        %h1{:itemscope => "", :itemtype => "http://schema.org/Organization"}
          = logo
    -#.header-center.col-lg-6.col-md-6.col-sm-7.col-xs-12.col-sp-12
      -#= render partial: 'spree/shared/search'
    -#.header-right.col-lg-4.col-md-4.col-sm-5.col-xs-12.col-sp-12
      -##cart.blockcart_top.clearfix
        .media.heading#link-to-cart
          %a#CartToggle{href: "/cart", title: Spree.t('cart')}
            .title-cart
              %span.fa.fa-shopping-cart
            .cart-inner.media-body
              %span.cart-title #{Spree.t('cart')}:
      -#:javascript
        Spree.fetch_cart();
    .header-bottom.col-lg-12.col-md-12.col-sm-6.col-xs-6.col-sp-6
      / Top Menu
      = render partial: 'shared/apollo_menu'
      = render partial: 'spree/shared/search'