-# this override view from spree_chimpy gem
- if "#{controller_name}_#{action_name}" == 'users_edit'
  #user-subscribe-container
    %p
      = f.check_box :subscribed
      = f.label :subscribed, Spree.t(:subscribed_label, scope: :chimpy)