#center_column.center_column
  %h4.title_block_home.page-subheading browse categories
  .content_scene_cat
    .content_scene_cat_bg.clearfix.row
      .img_category.col-md-4.col-sm-4
        %a{:href => "https://ap-rojo.myshopify.com/collections/cut"}
          %img.img-responsive{:alt => "Adv img_category_1_link", :src => "//cdn.shopify.com/s/files/1/1404/2671/t/6/assets/img_category_1.jpg?381533076572274600"}/
        .title_img_category
          %p wall decor
      .img_category.col-md-4.col-sm-4
        %a{:href => "https://ap-rojo.myshopify.com/collections/dining-room"}
          %img.img-responsive{:alt => "Adv img_category_2_link", :src => "//cdn.shopify.com/s/files/1/1404/2671/t/6/assets/img_category_2.jpg?381533076572274600"}/
        .title_img_category
          %p office decor
      .img_category.col-md-4.col-sm-4
        %a{:href => "https://ap-rojo.myshopify.com/collections/classroom"}
          %img.img-responsive{:alt => "Adv img_category_3_link", :src => "//cdn.shopify.com/s/files/1/1404/2671/t/6/assets/img_category_3.jpg?381533076572274600"}/
        .title_img_category
          %p chair & sofa
      .img_category.col-md-4.col-sm-4
        %a{:href => "https://ap-rojo.myshopify.com/collections/classroom"}
          %img.img-responsive{:alt => "Adv img_category_3_link", :src => "//cdn.shopify.com/s/files/1/1404/2671/t/6/assets/img_category_3.jpg?381533076572274600"}/
        .title_img_category
          %p chair & sofa
      .img_category.col-md-4.col-sm-4
        %a{:href => "https://ap-rojo.myshopify.com/collections/dining-room"}
          %img.img-responsive{:alt => "Adv img_category_2_link", :src => "//cdn.shopify.com/s/files/1/1404/2671/t/6/assets/img_category_2.jpg?381533076572274600"}/
        .title_img_category
          %p office decor
      .img_category.col-md-4.col-sm-4
        %a{:href => "https://ap-rojo.myshopify.com/collections/classroom"}
          %img.img-responsive{:alt => "Adv img_category_3_link", :src => "//cdn.shopify.com/s/files/1/1404/2671/t/6/assets/img_category_3.jpg?381533076572274600"}/
        .title_img_category
          %p chair & sofa
