#center_column.center_column
  %h4.title_block_home.page-subheading browse categories
  .content_scene_cat
    .content_scene_cat_bg.clearfix.row
      - taxon_roots = Spree::Taxon.all
      - cache(["taxon-roots", taxon_roots.maximum(:updated_at).to_i].join('-')) do
        - taxon_roots.each do |taxon_root|
          - if taxon_root.show_on_home
            .img_category.col-sm-4
              = link_to seo_url(taxon_root), class: 'img_category_link' do
                %img.img-responsive{alt: taxon_root.name, src: taxon_root.icon.url(:home)}/
                .title_img_category
                  = taxon_root.name
