/ -#center_column.center_column
/   %h4.title_block_home.page-subheading browse categories
/   .content_scene_cat
/     .content_scene_cat_bg.clearfix.row
/       - taxon_roots = Spree::Taxon.all
/       - cache(["taxon-roots", taxon_roots.maximum(:updated_at).to_i].join('-')) do
/         - taxon_roots.each do |taxon_root|
/           - if taxon_root.show_on_home
/             .img_category.col-sm-4
/               = link_to seo_url(taxon_root), class: 'img_category_link' do
/                 %img.img-responsive{alt: taxon_root.name, src: taxon_root.icon.url(:home)}/
/                 .title_img_category
/                   = taxon_root.name





/ .root-taxons__block
/   .root-taxons__block-title
/     %a.img_category_link{href: '#'}
/       .taxon-block-name PAINTINGS
/   .img-taxons
/     %img.img-responsive{alt: 'Paiting by Antonio Levy', src: 'https://placeimg.com/500/500/any'}
/       .title_img_category{"data-mh" => "root-taxons-1"}
/         Paiting by Antonio Levy
/   .img-taxons
/     %img.img-responsive{alt: 'Paiting by Antonio Levy', src: 'https://placeimg.com/500/500/any'}
/       .title_img_category{"data-mh" => "root-taxons-2"}
/         Paiting by Antonio Levy Antonio Levy


/ .root-taxons__block
/   .root-taxons__block-title
/     %a.img_category_link{href: '#'}
/       .taxon-block-name MIXED MEDIA
/   .img-taxons
/     %img.img-responsive{alt: 'Paiting by Antonio Levy', src: 'https://placeimg.com/500/500/any'}
/       .title_img_category{"data-mh" => "root-taxons-1"}
/         Paiting by Antonio Levy Antonio Levy
/   .img-taxons
/     %img.img-responsive{alt: 'Paiting by Antonio Levy', src: 'https://placeimg.com/500/500/any'}
/       .title_img_category{"data-mh" => "root-taxons-2"}
/         Paiting by Antonio Levy


/ .root-taxons__block
/   .root-taxons__block-title
/     %a.img_category_link{href: '#'}
/       .taxon-block-name PRINTMAKING
/   .img-taxons
/     %img.img-responsive{alt: 'Paiting by Antonio Levy', src: 'https://placeimg.com/500/500/any'}
/       .title_img_category{"data-mh" => "root-taxons-1"}
/         Paiting by Antonio Levy Antonio Levy
/   .img-taxons
/     %img.img-responsive{alt: 'Paiting by Antonio Levy', src: 'https://placeimg.com/500/500/any'}
/       .title_img_category{"data-mh" => "root-taxons-2"}
/         Paiting by Antonio Levy


/ .root-taxons__block
/   .root-taxons__block-title
/     %a.img_category_link{href: '#'}
/       .taxon-block-name PHOTOGRAPHY
/   .img-taxons
/     %img.img-responsive{alt: 'Paiting by Antonio Levy', src: 'https://placeimg.com/500/500/any'}
/       .title_img_category{"data-mh" => "root-taxons-1"}
/         Paiting by Antonio Levy
/   .img-taxons
/     %img.img-responsive{alt: 'Paiting by Antonio Levy', src: 'https://placeimg.com/500/500/any'}
/       .title_img_category{"data-mh" => "root-taxons-2"}
/         Paiting by Antonio Levy Antonio Levy











- cache(["taxon-roots", @taxon_roots.maximum(:updated_at).to_i].join('-')) do
  - @taxon_roots.each do |taxon_root|
    - if taxon_root.show_on_home
      .root-taxons__block
        .root-taxons__block-title
          = link_to seo_url(taxon_root), class: 'img_category_link' do
            .taxon-block-name
              = taxon_root.name
        .img-taxons
          - product = taxon_root.children.sample.try(:products).try(:sample)
          - if product.present?
            %img.img-responsive{alt: product.name, src: product.images.first.attachment.url}/
            .title_img_category{"data-mh" => "root-taxons-1"}
              Paiting by #{product.author.try(:name)}
        .img-taxons
          - product = taxon_root.children.sample.try(:products).try(:sample)
          - if product.present?
            %img.img-responsive{alt: product.name, src: product.images.first.attachment.url}/
            .title_img_category{"data-mh" => "root-taxons-2"}
              Paiting by #{product.author.try(:name)}
