-#- url = spree.author_url(id: author.slug)
- url = '#'
.col-md-3.col-sm-6.col-xs-6.product-list-item{"data-hook" => "authors_list_item", :id => "author_#{author.id}", :itemscope => "", :itemtype => "https://schema.org/Author"}
  .product-container.text-left.product-block{"data-hook" => "authors_list_item", :id => "author_#{author.id}", :itemscope => "", :itemtype => "https://schema.org/Author"}
    .product-image-container.image
      %a.product_img_link{href: url, title: video.title}
        -#%img.replace-2x.img-responsive{alt: video.title, src: product_image_src(video, :author)}
        %span.product-additional{data: {idproduct: video.id}}
    -#.product-meta
    %h5.name2.text-center.text-uppercase
      %a.product-name{href: url, title: truncate(video.title, length: 50)}
        = truncate(video.title, length: 50)
    %p.text-center
      &nbsp;
