#videos_sidebar_sortible_block.block.sidebarCategories{"data-hook" => "videos_sidebar_navigation"}
  %h4.title_block.taxonomy-root Sort by
  .block_content#videos-sortby{"data-hook" => ""}
    %ul.listSidebar.list-unstyled
      - %w(date artist title).each do |item|
        %li
          - sort_by = params[:sortby] == item ? item + '_desc' : item
          = link_to spree.videos_path(sortby: sort_by) do
            %i.fa{class: arrow(sort_by)}
              = item
